<?xml version="1.0" encoding="utf-8"?>
<manifest
        package="com.chiclaim.webview"
        xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
            android:allowBackup="true"
            android:icon="@drawable/ic_launcher"
            android:label="@string/app_name"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait">
        <activity
                android:name=".MainActivity"
                android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
                android:name=".CustomChooserActivity"
                android:label="@string/file_chooser_custom"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".AppChooserActivity"
                android:label="@string/file_chooser_default"
                android:screenOrientation="portrait"/>


    </application>


</manifest>
